.advantages {
	min-height: 473px;
	padding: 73px 0 65px 0;
	background: #F6F6F6;
	&__header{
		font-weight: 700;
		font-size: 30px;
		text-align: center;
		color: #0D0D0D;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		/* width: 940px; задати питання Іллі чому тут заважає ця ширина, бо на 991 рх вона розлазиться*/
		margin-top: 70px;
	}
	&__item {
		display: flex;
		flex-direction: column;
	/* 	justify-content: space-between; прибрав, тому що не верівнюється по центру по subheader */
		width: 270px;
		height: 245px;
		img {
			display: block;
			margin: 0 auto;
			margin-top: 0;
		}
	}
	&__subheader {
		margin-top: 35px;
		font-weight: 700;
		font-size: 18px;
		text-align: center;
		color: #0D0D0D;
	}
	&__descr {
		margin-top: 20px;
		font-weight: 300;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		color: #0D0D0D;
		a {
			color: $main-color;
		}
	}
}
